.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.passwordResetForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.passwordResetForm {
  display: flex;
  flex-direction: column;
}
